.App{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  
}
html{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  
}


/*navbar*/
.navbar{
  background-color: rgb(236, 235, 235);
  margin:0;
  padding: 15px;
  font-size: 30px;
}
.nav-button{
  float: right;
  font-size: 30px;
}
.nav-icons{
  color:#021030;
  padding:0 10px;
  cursor: pointer;
}
.nav-option{
  position: relative;
  float:right;
  top:70%;
  margin-left: 50px;
  font-size: 1.2rem;
  margin-top: 5px;
  cursor: pointer;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:10px;
}
.dropdown-content div{
  padding:10px 10px;
  font-size: 1rem;
}
.dropdown-content div:hover{
  background-color: rgb(206, 206, 206);
}


/*editor main container*/
.page-container{
  background-color: rgb(36, 35, 35) ;
}

/*Code Editor*/
.editor-container{
  background-color: rgb(36, 35, 35);
  /*padding: 10px 5px;
  display: flex;
  justify-content: space-around;*/
}
.editor-heading{
  padding:5px 20px;
  color:white;
  border-radius: 20px 20px 0 0;
  background-color:  rgb(0, 9, 36);
}
.refresh{
  float:right;
  cursor: pointer;
}
/*.editor{
  width:32.5%;
}*/

/*frame*/
.frame{
  background-color: rgb(36, 35, 35) ;
  padding-top:5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
iframe{
  background-color:white;
  width:98%;
  height:50vh;
  border-width: 0;
}

/*resizing divs*/
.panel-container {
  display: flex;
  min-height: 300px;
  margin: 10px;
}

.panel {
  background: rgb(36, 35, 35);
  /*border: 1px solid gray;*/
  min-width: 150px;
}
/*.panel:first-child {

}*/

.resizer {
  width: 8px;
  background:rgb(36, 35, 35);
  position: relative;
  cursor: col-resize;
  z-index: 20;
  flex-shrink: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

.resizer::after,
.resizer::before {
  content: "";
  border-left: 1px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  display: inline-block;
  height: 20px;
  margin: 0 2px;
}
.resizer::before {
  left: 0;
}


/*Login*/
.login-main{
  display: flex;
  min-height:100vh;
  align-items: center;
  justify-content: space-between;
}
.typewriter-header{
  display: block;
  font-size: 6rem;
  padding: 5px 5px 5px 40px;
}
.typewriter-text{
  display: block;
  font-size: 2rem;
  padding: 5px 5px 5px 40px;
}
.logo-top{
  position: absolute;
  top:10px;
  left:10px;
  font-size: 30px;
}

/*loginform*/
.login-form-container{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin-right: 10%;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-form{
  align-content: center;
  display:block;
  padding:10px;
}
.form-detail{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-button{
  text-transform: uppercase;
  outline: 0;
  background: #031b4e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-button:hover,.form-button:active,.form-button:focus {
  background: #021030;
}

.login-message{
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-message a {
  color: #031b4e;
  text-decoration: none;
}

/*footer*/
.footer{
  position:fixed;
  width: 100%;
  bottom:0;
  margin: 0;
  padding:10px;
  color: #FFFFFF;
  background-color: #021030;
}
.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 10px;
  z-index: 2;
}
.footer-message{
  text-align: center;
  font-size: 1.0rem;
}

/*CodeList*/
.codelist-list{
  display:flex;
  justify-content: flex-start;
}

.codelist-item-new{
  padding:20px;
  border-radius: 5px;
  margin:20px 10px;
  width:auto;
  height:auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.codelist-item-new span{
  margin-left:20px;
}
.codelist-item-new span input{
  width:80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  animation: myanimation 1s; 
}
@keyframes myanimation {
  from {width: 0%;}
  to {width: 80%;}
}
.codelist-item-new span button{
  outline: 0;
  background: #031b4e;
  border: 0;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: 20px;
}
.codelist-item-new span button:hover,.codelist-item-new span button:active{
  background: #021030;
}

.codelist-item{
  padding:20px;
  border-radius: 5px;
  background-color:rgb(0, 9, 36);
  margin:20px 10px;
  width:200px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  overflow: hidden;
}
.codelist-item-message{
  text-align: center;
  margin-top: 100px;
  color: gray;
}
.codelist-saved{
  margin-left:10px;
  color:rgb(0, 9, 36);
  font-size: 1.2rem;
}